@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Productlist-print {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.Productlist-header {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-left: 4.2rem;
}
.Productlist-header1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
.PLP-title,
.Productlist-title-p,
.Productlist-date_time {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.Productlist-date_time {
  font-weight: 400;
}
.Productlist-title {
  display: flex;
  justify-content: center;
  margin-top: 1.75rem;
}
.PL-table-div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.PL-table {
  border-collapse: collapse;
  width: 100%;
}
.PL-table th,
.PL-table td {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  padding: 3px;
}
.PL-table td {
  font-weight: 400;
  text-align: left;
  font-size: 0.8rem;
}
